:root {
    --background: linear-gradient(to right, #05fefe, #46beff, #7089ff 90%) center / cover fixed;
}

.mask {
    mask-position: center;
    mask-repeat: no-repeat;
}

.github {
    mask-image: url('/assets/github.png');
}

.discord {
    mask-image: url('/assets/discord.png');
}

.stack-overflow {
    mask-image: url('/assets/stack-overflow.png');
}

.react {
    mask-image: url('/assets/frameworks/react.svg');
}

.redux {
    mask-image: url('/assets/frameworks/redux.svg');
}

.skeleton {
    mask-image: url('/assets/frameworks/skeleton.svg');
}

.svelte {
    mask-image: url('/assets/frameworks/svelte.svg');
}

.tailwind {
    mask-image: url('/assets/frameworks/tailwind.svg');
}

.vite {
    mask-image: url('/assets/frameworks/vite.svg');
}

.webpack {
    mask-image: url('/assets/frameworks/webpack.svg');
}
